@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.cdnfonts.com/css/gagalin');

:root {
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
    position: relative;
    float: inline-start;
    height: 9vh;
    width: 12%;
    max-width: fit-content;
    margin-left: 4rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  align-content: center;
  background-image: url(/images/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 99;
}

.nav-container {
  max-width: auto;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-container {
  max-width: auto;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.5s;
}

ul li a{
  padding: 0.5rem 2rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--extra-light);
  transition: 0.5s;
  cursor: pointer;
}

ul li a:hover {
  background-image: linear-gradient(to right, #fcb86b 0%, #eb550f 100%, #fc921a 51%);
  border-radius: 0.5rem;
  color: var(--extra-light);
  transition: 0.5s ease;
}

.section-container {
  min-height: auto;
  max-width: auto;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.menu-navigator {
  min-height: 100vh;
  max-width: auto;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

img {
  opacity: 100%;
  min-height: auto;
  min-height: auto;
  height: 24rem;
  width: 26rem;
}

.menu-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  border-radius: 1rem;
  top: 50vh;
}

button {
    width: 10rem;
    height: 40px;
    background-image: linear-gradient(to right, #fcb86b 0%, #eb550f 100%, #fc921a 51%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1rem;
    text-align: center;
    border: none;
}

button:hover {
    background-image: linear-gradient(to right, #c77517 40%, #a74213 100%);
    transition: 0.5s ease;
}

.button-position {
    position: relative;
    top: 28vh;
    margin-left: 8rem;
}

.menu-button {
  position: relative;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  top: 37vh;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  list-style: none;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
}

.heading-container {
  position: relative;
  font-family: 'Gagalin', sans-serif;
  font-size: 6rem;
  font-weight: 200;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.heading {
    display: flex;
    position: relative;
    width: 80%;
    line-height: 1.5rem;
    color: #383838;
    top: 30vh;
    margin-left: 8rem;
    margin-bottom: 4rem;
}

.menu-heading {
    display: flex;
    position: relative;
    line-height: 1.5rem;
    color: #383838;
    top: 70vh;
    width: 50%;
    margin-bottom: 1rem;
    left: 6%;
}

.menu-subheading {
    display: flex;
    position: relative;
    line-height: 2.5rem;
    color: var(--text-light);
    top: 75vh;
    width: 50%;
    margin-bottom: 2rem;
    left: 6%;
}

.subtitle {
  position: relative;
  color: var(--extra-light);
  font-family: 'Gagalin', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  line-height: 3rem;
  margin-bottom: 1rem;
  top: 185vh;
  text-align: center;
}

.website-name {
    font-family: 'Gagalin', sans-serif;
    position: fixed;
    color: var(--extra-light);
    font-weight: 600;
    max-width: 100%;
    font-size: 2.3rem;
    left: 10rem;
}

.subheading-container {
    display: flex;
    position: relative;
    line-height: 2.2rem;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.subheading {
    position: relative;
    width: 38%;
    top: 30vh;
    margin-left: 7rem;
    color: var(--text-light);
}

@media (width < 750px) {
  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section-container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .menu-navigator {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
}




